<% include partials/header.ejs %>

<h1>Index page..</h1>

<div class="ui items">
    <% blogs.forEach(function (blog) { %>
    <div class="item">
        <div class="image">
            <img src="<%= blog.image %>" alt="" height="300" width="400">
        </div>
        <div class="content">
            <a class="header"><%= blog.title %></a>
            <div class="ui divider"></div>
            <div class="meta">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body.substring(0, 100) %>...</p>
            </div>
            <div class="extra">
                <a href="/blogs/<%= blog._id %>" class="ui basic green button">
                    Read More

                </a>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <% }) %>
</div>


<% include partials/footer.ejs %>